#chat {
  background-color: #e9d6ff;
}
.chat-header {
  background-color: #e9d6ff;
}
.status-bar__chat {
  background-color: #e9d6ff;
}
.chat-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.message-row img {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  margin-right: 10px;
}
.message__author {
  display: block;
  margin-bottom: 7px;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border: 1px solid;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  opacity: 0.8;
  font-size: 15px;
  margin: 0px 5px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: #6000e8;
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
