.icon-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}
.icon-row__icon:hover {
  cursor: pointer;
  color: black;
}

.icon-row__icon i {
  font-size: 29px;
  padding-bottom: 3px;
  position: relative;
}
.icon-row__icon span {
  font-size: 14px;
  margin-top: 16px;
  font-weight: 600;
}
.icon-row__dot {
  bottom: 37px;
  left: 40px;
}
