.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 45px var(--horizontal-space) var(--horizontal-space);
  position: sticky;
  top: 0;
  background-color: white;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
